<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:query-title {"type":"archive","style":{"typography":{"textAlign":"center"}}} /-->

<!-- wp:term-description {"style":{"typography":{"textAlign":"center"}}} /-->

<!-- wp:paragraph {"style":{"typography":{"textAlign":"center"}}} -->
<p class="has-text-align-center"></p>
<!-- /wp:paragraph -->

<!-- wp:pattern {"slug":"ask-design-blog-child/search-results-3-col-new"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"subscribe-section"} /-->

<!-- wp:template-part {"slug":"footer"} /-->