<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:query-title {"type":"search"} /-->

<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Type here...","buttonText":"Search","metadata":{"patternName":"twentytwentyfive/hidden-search","name":"Search"},"style":{"border":{"width":"1px","radius":{"topLeft":"0.38rem","topRight":"0.38rem","bottomLeft":"0.38rem","bottomRight":"0.38rem"}}},"borderColor":"custom-accent-200"} /-->

<!-- wp:pattern {"slug":"ask-design-blog-child/search-results-3-col-new"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"subscribe-section"} /-->

<!-- wp:template-part {"slug":"footer"} /-->